.card-deck{
    margin-left: 150px;
            height:80px;
            width:1000px;
}
p{
    color:black;
    font-synthesis: style weight;
    font-size: large;

}
h2{
    color:crimson;
}
/* h6{
    color: crimson;
} */